@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    display: flex;
    width: 350px;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}
.carousel-slide {
    display: flex;
    width: 90%;
    height: 233px;
}

#prevBtn {
    position: absolute;
    top: 35%;
    z-index: 10;
    left: 5%;
    font-size: 50px;
    color: #FFFFFF;
    opacity: 0.75;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 35%;
    z-index: 10;
    right: 5%;
    font-size: 50px;
    color: #FFFFFF;
    opacity: 0.75;
    cursor: pointer;
}