@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-justify-content: center;
}

div.gallery {
    display: flex;
    padding: 10px;
    
}

div.gallery img {
    max-width: 420px;
    height: auto;
}

div.gallery1 img {
    max-width: 1350px;
    height: auto;
}

.image-container {
    padding: 30px;
    width: auto;
}
.image-container img {
    height: auto;
    width: 100%;
}

.transition-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.transition-image:hover {
    opacity: 1;
}

footer > div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
    font-size: 24px;
}
